<style>
  .body {
    overflow: hidden;
    position: relative;
  }
   .img {
    opacity: 0.4;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;

   }

  
  h1 {
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    font-family: 'bebas neue';
    color:rgb(134, 16, 16);
    margin-bottom: 0px;
    position: relative;
    background-color: beige;
  
    
  }
  .table {
    position: relative;
    width: 700px;
    height: 500px;
    border: 2px solid;
    color: rgba(171, 166, 40, 0.961);
    margin-left: auto;
    margin-right: auto;
    
  
    
  }
 th, td{
  border: 2px solid;
  color: rgb(0, 0, 0);
  align-content: center;
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 25px;
  font-weight: 600;
}
 h4 {
  color: rgb(134, 16, 16);
  text-align: center;
  position: relative;
  margin-top: 0px;
  margin-bottom: 2px;
  padding-top: 0px;
  background-color: beige;

}
 p {
  margin-top: 0;
 }

 
 
</style>
